<h2>About</h2>
<p> <i class="fa fa-graduation-cap"></i> Graduate student at <a href="https://www.royalholloway.ac.uk/home.aspx" target="_blank"a>Royal Holloway University of London</a>, pursuing MSc <a href="https://en.wikipedia.org/wiki/Machine_learning" target="_blank">Machine Learning</a>.  DIY enthusiast and also a <a href="https://www.coursera.org/" target="_blank">Coursera</a> learner. Weekend <i class="fa fa-steam-square fa-lg"></i> <a href="https://steamcommunity.com/profiles/76561198091476636/" target="_blank">Dota2</a> player and love to click <i class="fa fa-camera"></i> monochrome stills (level amature) <a href="{{ site.url }}/blog/about">more...</a></p>
<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/mlgruby" target="_blank">Code</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-file-text-o fa-lg main-list-item-icon"></span>
    <a href="{{ site.url }}/blog">Blog</a>
  </li>
    <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://in.linkedin.com/in/ss6012" target="_blank"> LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/ss6012" target="_blank"> twitter</a>
  </li>
</ul>
